.Keyboard-scroll {
    height: 300px;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.Keyboard-container {
    position: relative;
    width: 2708px;
}

.Key-white{
    border: solid black 2px;
    display: inline-block;
    height: 200px;
    width: 50px;
}

.Key-white + .Key-white{
    border-left: none;
}

.Key-black {
    background: black;
    position: absolute;
    top: 0px;
    left: 40.5px;
    height: 130px;
    width: 25px;

}

.Key-black:active {
    background:#666;
    transform: scaleY(1.01);
}

.Key-white:active {
    background:#999;
    transform: scaleY(1.02);
}

.Key {
    box-shadow: 0 4px #666;
    border-radius: 0px 0px 6px 6px;
}

.Key:active {
    box-shadow: 0 2px #666;
}

.Key-note {
    margin-top: 175px;
    text-align: center;
}

#C4 {
    background: rgb(250, 195, 255);
}