@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

.App-container {
  margin: 0 auto;
  padding: 8px;
  max-width: 1150px;
  font-family: 'Nunito Sans', sans-serif;
}

.App-title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 56px;
  text-align: center;
}

.App-info {
  position: fixed;
  right: 15px;
  bottom: 15px;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 2px solid black;

  text-align: center;
  font-size: 20px;
}